@font-face {
  font-family: 'Iceland-Regular';
  src: local('Iceland-Regular'),
       url('fonts/Iceland-Regular.ttf') format("truetype");
}

h1 {
    font-family: 'Iceland-Regular';
    color: #327FAC;
    text-align: center;
    font-size: 100px;
    text-shadow: #163959 -2px -3px;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  h2 {
    font-family: 'Iceland-Regular';
    color: #327FAC;
    margin: 0px;
  }

body {
    /*background: pink url("images/cattoy.jpg") no-repeat;*/
    background: white;
    margin: 0;
}

li a, .dropbtn {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover, .dropdown:hover .dropbtn {
    background-color: #6A9CBF;
  }

  li.dropdown {
    display: inline-block;
    text-align: left;
    padding: 0px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #9CC4E1;
    min-width: 0px;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 50px 85px;
    font-size: 20px;
    text-decoration: none;
    display: block;
    text-align: left;
  }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    background-color: #9CC4E1;
  }

  .img-container {
    text-align: center;
    margin: 0;
    
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
    margin-top:30px;
  }

  .containerB {
    text-align: center;
  }

  .button {
    background-color: #9CC4E1; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family: 'Iceland-Regular';
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 4px;
    transition-duration: 0.4s;
  }

  .button:hover {
    background-color: #9CC4E1; 
    color: #406783;
  }

  input[type=text] {
    width: 20%;
    font-family: 'Iceland-Regular';
    padding: 10px 15px;
    font-weight: bold;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #D9E5FC;
    color: #406783;
  }
  input[type=number] {
    width: 30%;
    font-family: 'Iceland-Regular';
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #D9E5FC;
    color: #406783;
  }

  output{
    width: 100%;
    font-family: 'Iceland-Regular';
    padding: 10px 15px;
    font-weight: bold;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #D9E5FC;
    color: #406783;
  }

  .parent {
    margin: 0px;
    padding: 0px 0px;
    width: 100%; 

  }
  .child {
    display: inline-block;
    width: 30%; 
    padding: 1rem 1rem;
    vertical-align: middle;
    margin-left:0px;
    margin-right:0px;
  }

