<!--
  This page is the base for all other .html pages.
  This code will apply to any page that has " extends 'pixelspace/base.html' "
  written at the top.
  This page creates a navigation menu and banner.
-->

<!DOCTYPE html>
<html>

  {% load static %}

  <head>
    <meta charset="utf-8">
    <title> Pixel Space </title>

    <link rel="stylesheet" href="{% static 'pixelspace/style.css' %}">

  </head>

  <body>
    <div>
      <ul>

        <li class="dropdown">

        <a href="javascript:void(0)" class="dropbtn"><img src="{% static 'pixelspace/images/menu.png' %}" width="50" height="50"></img>   </a>

          <div class="dropdown-content">
            <a href="pixelmap">Pixel Map</a>
            <a href="colors">Colors in The Media</a>
            <a href="logo">Logo Generation</a>
            <a href="image">Image Gallery</a>

            {% if not user.is_authenticated %}
              <a href="login">Login</a>
            {% endif %}
            {% if user.is_authenticated %}
              <a href="settings">Settings</a>
              <a href="LoggingOut">Log Out</a>
            {% endif %}
            
            
          </div>

        </li>

        <div class="img-container">
          <img src="{% static 'pixelspace/images/logo2.png' %}" width="300" height="106">
        </div>
      </ul>

      {% block content %}

      {% endblock %}

    </div>
  </body>

</html>
