<!DOCTYPE html>
<html>

{% load static %}

<head>
<link rel="stylesheet" href="{% static 'pixelspace/style.css' %}">
</head>
<body>

    <ul>

        <li class="dropdown">

          <a href="javascript:void(0)" class="dropbtn"><img src="{% static 'pixelspace/images/menu.png' %}" width="50" height="50"></img>   </a>

          <div class="dropdown-content">
            <a href="pixelmap">Pixel Map</a>
            <a href="colors">Colors in The Media</a>
            <a href="logo">Logo Generation</a>
            <a href="image">Image Gallery</a>

            <a href="login">Login</a>
            <a href="settings">Settings</a>
          </div>

            
        </li>
        <div class="img-container">
          <img src="{% static 'pixelspace/images/logo2.png' %}" width="300" height="106">
        </div>
      </ul>
    



      <div class="container">
        <img src="{% static 'pixelspace/images/banner.png' %}" width="900" height="170">
        <h1>Colors in The Media</h1>
      </div>
    
    <b>swell.</b>

    <div class='flex-parent-element'>
        <div class='flex-child-element'>
            <div class="containerB">
              <form action="" method="post">
                {% csrf_token %}
                <label for="axisA"><h2>A-Axis (Green to Red)</h2></label><br>
                <input type="text" id="axisA" name="axisA"><br>
                <label for="axisB"><h2>B-Axis (Blue to Yellow) </h2></label><br>
                <input type="text" id="axisB" name="axisB">
                <label for="lightness"><h2>Lightness </h2></label><br>
                <input type="text" id="lightness" name="lightness">
                <br><br>

              
              </div>

        </div>

        <div class='flex-child-element'>
            <div class="containerB">
               
                    <label for="RGB"><h2>RGB</h2></label><br>
                    <h3>{{canRGB}}</h3>
                    <h3>{{hexCode}}</h3>
                    <br><br>
                    <label for="SRGB"><h2>SRGB </h2></label><br>
                    <input type="text"  id="SRGB" name="SRGB">
                    <label for="ProPhoto"><h2>ProPhoto </h2></label><br>
                    <input type="text"  id="ProPhoto" name="ProPhoto">
                 
                </div>

        </div>

        <div class='flex-child-element'>
            <div class="containerB">
               
                    <label for="RGB"><h2>Alt. RGB</h2></label><br>
                    <p style="background-color:{{hexCode}}" {{hexCode}}>{{hexCode}}</p>
                    <label for="SRGB"><h2>Alt. SRGB </h2></label><br>

                    <label for="ProPhoto"><h2>Alt. ProPhoto </h2></label><br>

                 
                </div>

        </div>
      </div>

      <div class="containerB">
        <button class ="button" type="submit"> Generate</button>
        </div>
      </form>





</body>



</html>