{% extends 'pixelspace\base.html' %}

{% load static %}

{% block content %}

<div class="containerx">
    <img src="{% static 'pixelspace/images/banner4x.png' %}" width="100%" height="250">
</div>
<br><br>
<h4>Create Account</h4>
<h5></h5>

    <div class="create_account_container">
      <form action="" method="post">
          {% csrf_token %}
              <div class="create_account_sub_container">
                  <div class="create_account_form">
                      <div>
                            {{ form.username.label }}
                            {{ form.username }}
                      </div>

                      <div>
                          {{ form.password.label }}
                          {{ form.password }}
                      </div>

                      <div>
                          {{ form.confirm_password.label }}
                          {{ form.confirm_password }}
                      </div>

                      <div>
                          {{ form.email.label }}
                          {{ form.email }}
                      </div>
                  </div>
                  <div class="create_account_form">

                      <h3> Security Questions: </h3>
                      <div>
                          {{ form.question_one }}
                          {{ form.answer_one }}
                      </div>

                      <div>
                          {{ form.question_two }}
                          {{ form.answer_two }}
                      </div>
                  </div>
              </div>
          <div class="create_account_sub_container">
            <button class="button" type ="submit"> CREATE </button>
          </div>

      </form>
    </div>

{% endblock %}
