{% extends 'pixelspace\base.html' %}

{% load static %}

{% block content %}

<div class="containerx">
    <img src="{% static 'pixelspace/images/banner4x.png' %}" width="100%" height="250">
</div>
<br><br>
<h4>Confirm Map Delete</h4>
<h5></h5>

    <div class="containerB">
        <form action="" method="post">
            {% csrf_token %}
            <br><br>
            <input type="checkbox" id="confirmMapDelete" name="confirmMapDelete">
            <label for="confirmMapDelete"><h3>Are you sure? Your map cannot be accessed once deleted. Check the box to confirm your delete.</h3></label><br><br>
            <button class="button" type ="submit"> Delete Map </button>
        </form>
    </div>

{% endblock %}
