{% extends 'pixelspace\base.html' %}

{% load static %}

{% block content %}

    <div class="container">
        <img src="{% static 'pixelspace/images/banner2.png' %}" width="900" height="170">

        <h1>Home</h1>
    </div>

    <div class="container">
        <form>
            <label for="fname"><h2>Test:</h2></label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname"><h2>Test:</h2></label><br>
            <input type="text" id="lname" name="lname">
        </form>
    </div>

    <div class="containerB">
        <button class ="button">CLICK ME</button>
    </div>

{% endblock %}
