{% extends 'pixelspace\base.html' %}

{% load static %}

{% block content %}

    <div class="container">
        <img src="{% static 'pixelspace/images/banner2.png' %}" width="900" height="170">

        <h1>Home</h1>
    </div>

<!--
    <button onclick="myFunction()">Click me!</button>
-->
<!--
    {% if messages %}
        <ul>
          <script>
              {% for message in messages %}
                  alert("{{ message }}");
              {% endfor %}
          </script>


        </ul>
    {% endif %}
-->
<!--
{% if messages %}
    <ul>
        {% for message in messages %}
            {% if message.tags %}
              {{ message.tags }}
            {% endif %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
-->


{% endblock %}
