{% extends 'pixelspace\base.html' %}

{% load static %}

{% block content %}

    <div class="containerx">
        <img src="{% static 'pixelspace/images/banner4x.png' %}" width="100%" height="300">
    </div>
        <br><br>
        <h4>PixelSpace Color Tools</h4>
        <h5>Photo Tools designed to enhance experimentation and creativity</h5>


        <h6>EXPLORE OUR FEATURES</h6>
        <hr>
        <div class="containerB">
            <pre>
            <img src="{% static 'pixelspace/images/icon1.png' %}" >              <img src="{% static 'pixelspace/images/icon2.png' %}">             <img src="{% static 'pixelspace/images/icon3.png' %}">    <img src="{% static 'pixelspace/images/icon4.png' %}">
            
           
            <a href="colors"><button class="button"> Colors In The Media</button></a>  <a href="pixelmap"><button class="button"> Pixel Map Generator</button></a>  <a href="gallery"><button class="button"> Map Gallery</button></a>  <a href="logo"><button class="button"> Logo Generator</button></a>
        </pre>
        </div>

{% endblock %}
