<!DOCTYPE html>
<html>

{% load static %}

<head>
<link rel="stylesheet" href="{% static 'pixelspace/style.css' %}">
</head>
<body>

    <ul>

        <li class="dropdown">

          <a href="javascript:void(0)" class="dropbtn"><img src="{% static 'pixelspace/images/menu.png' %}" width="50" height="50"></img>   </a>

          <div class="dropdown-content">
            <a href="pixelmap">Pixel Map</a>
            <a href="colors">Colors in The Media</a>
            <a href="logo">Logo Generation</a>
            <a href="image">Image Gallery</a>

            <a href="login">Login</a>
            <a href="settings">Settings</a>
            
          </div>

            
        </li>
        <div class="img-container">
          <img src="{% static 'pixelspace/images/logo2.png' %}" width="300" height="106">
        </div>
      </ul>
    


      
      <div class="container">
        <img src="{% static 'pixelspace/images/banner.png' %}" width="900" height="170">
        <h1>Login</h1>
      </div>
    
    <b>swell.</b>
    
    <div class="containerB">
    <form action="" method="post">
      {% csrf_token %}
        <label for="username"><h2>Username:</h2></label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password"><h2>Password:</h2></label><br>
        <input type="text" id="password" name="password">
        <br><br>
        <button class="button" type ="submit"> LOG IN</button>
      </form>
    </div>
</div>

    <div class="containerB">
    
    <h3><a href="createacc">Create an Account</a></h3>
    </div>


</body>



</html>