{% extends 'pixelspace/base.html' %}

{% load static %}

{% block content %}

    <div class="container">
        <img src="{% static 'pixelspace/images/banner2.png' %}" width="900" height="170">
        <h1>Login</h1>
    </div>

    <div class="containerB">
        <form id="django_form" action="" method="post">
          {% csrf_token %}
          {{ form }}
          <button class="button" type ="submit"> LOG IN </button>
        </form>
    </div>

    <div class="containerB">
        <h3><a href="create-account">Create an Account</a></h3>
    </div>

    <div class="containerB">
        <h3><a href="reset-password">Forgot your password?</a></h3>
    </div>

{% endblock %}
