{% extends 'pixelspace/base.html' %}

{% load static %}

{% block content %}

    <div class="container">
        <img src="{% static 'pixelspace/images/banner.png' %}" width="900" height="170">
        <h1>Pixel Map</h1>
    </div>

    <div class="container">
        <form>
            <label for="fname"><h2>Length:</h2></label><br>
            <input type="number" id="fname" name="fname"><br>
            <label for="lname"><h2>Width:</h2></label><br>
            <input type="number" id="lname" name="lname">
        </form>
    </div>
    
    <div class="containerB">
        <button class ="button"> Generate </button>
    </div>

{% endblock %}
