{% extends 'pixelspace/base.html' %}

{% load static %}

{% block content %}

    <div class="container">
        <img src="{% static 'pixelspace/images/banner.png' %}" width="900" height="170">
        <h1>Pixel Map</h1>
    </div>

    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <label for="length"><h2>Length:</h2></label><br>
            <input type="number" id="length" name="length"><br>
            <label for="width"><h2>Width:</h2></label><br>
            <input type="number" id="width" name="width">
            <br><br>
            <input type="checkbox" id="greyscale" name="greyscale">
            <label for="greyscale"><h2>Greyscale?</h2></label><br>
            <br><br>
            <button class="button" type ="submit"> Generate</button>
        </form>
    </div>
    


{% endblock %}
